/* .Fusion {
  
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 150px;
} */

.Fusion .senH {
  color: white;
  font-weight: bold;
  /* margin-top: 10px; */
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  text-align: center;
  margin-bottom: 50px;
  padding: 20px;
  box-shadow: 0px 3px 6px rgba(122, 94, 94, 0.3);
  border-radius: 10px;
  background-color: #a1ad93;
  border: 3px solid #a1ad93;
}

/* .Sensor{
        background-color: aqua;
    } */
.Fusion .sensText {
  font-family: 'Times New Roman', Times, serif;
  color: #60774c;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.Fusion .form-control {
  
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  /* background-color: #b5c8ac; */
}

.Fusion .measure{
  width: 80%;
  align-items: center;
  text-align: center;
  padding-left: 25%;
}
.Fusion .custom-file-input{
  padding-left: 25%;
}
.Fusion .data {
  margin-top: 50px;
}

.Fusion .upload {

  padding: 10px 20px;
  background-color: #485935;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  /* Change cursor on hover */
}

.Fusion .upload:hover {
  /* Hover styles */
  background-color: #090909;
  /* Change background color on hover */
}

.file-input {
  position: relative;
  color: #000;
}

.Fusion .submit {
  background-color: #485935;
  color: #fff;
}

.Fusion .submit:hover {
  background-color: #070707;
}

.Fusion .sub{
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.Fusion .file-input{
  margin-bottom: 10px;
}
.Fusion .sdata{
  color: #686363;
 
  /* text-align: center; */
  padding-left: 25%;
  font-family: 'Times New Roman', Times, serif;
}

.Fusion .alert{
  width: 25%;
  margin-left: 37.5%;
  text-align: center;
}